* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.window {
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
}

.block {
    width: 100px;
    height: 100px;
    background: black;
}