$font-f-gilroy: 'Gilroy';

$font-w-normal: 400;
$font-w-big: 700;

$font-s-48: 48px;
$font-s-32: 32px;
$font-s-24: 24px;
$font-s-18: 18px;
$font-s-14: 14px;

$line-height-1: 37.12px;
$line-height-2: 24.47px;
$line-height-3: 19.69px;
$line-height-4: 55.68px;
$line-height-5: 25.31px;
$line-height-6: 33.75px;
$line-height-7: 25.31px;
$line-height-8: 19.69px;

$color-block_text: white;
$color-block_articles: black;
$color-button: #F7941E;

$margin-top-articles: 40px;
$margin-top-articles-text: 16px;

$time-transition: .3s;
$timing-function-transition: linear;

// full_tablet
$font-s-48-full_tablet: 36px;
$font-s-32-full_tablet: 22px;
$font-s-24-full_tablet: 20px;
$font-s-18-full_tablet: 17px;

$margin-top-articles-full_tablet: 35px;

// tablet
$font-s-48-tablet: 30px;
$font-s-32-tablet: 20px;
$font-s-24-tablet: 18px;
$font-s-18-tablet: 16px;

// mobile
$font-s-48-mobile: 24px;
$font-s-32-mobile: 18px;
$font-s-24-mobile: 17px;
$font-s-18-mobile: 15px;

$margin-top-articles-mobile: 30px;

// small-mobile
$font-s-48-small-mobile: 20px;
$font-s-32-small-mobile: 18px;
$font-s-24-small-mobile: 16px;
$font-s-18-small-mobile: 14px;
$font-s-14-small-mobile: 13px;