<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div id="app">
        <span v-bind:title="message" :style="{ color: styleColor }">
            Наведи на меня курсор на пару секунд,
            чтобы увидеть динамически связанное значение title!
        </span>
        <ul>
            <li v-for="(variant, index) in variants" v-if="variant.variantText !== 'Черный'" v-bind:class="{ cursorPointer: defaultPointer }">
                <span v-on:click="addColorText(index)" @mouseover="updateTextColor(index)" @mouseout="textDefaultColor()">
                    {{ index + ' ' + variant.variantText }}
                </span>
            </li>
        </ul>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script> 
    <script src="task.js"></script>   
</body>
</html>