* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#app {
    padding: 15px;
}

ul {
    margin-top: 15px;
}

.cursorPointer {
    padding-left: 15px;
    cursor: pointer;
    list-style-type: none;
}